<!--author: Samuel Silva
github: github.com/samuel199732 -->
    <footer class="py-5 bg-dark">
            <!-- fontawesome site loader icons. for more information check fontawesome.io/icons/ -->
      <ul class="list-inline" style="text-align:center">
        
          <li class="list-inline-item"><a href="#" target="_blank"><i style="color:white;" class="fa fa-facebook fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank"><i style="color:white;" class="fa fa-twitter fa-2x"></i></a></li>
          <li class="list-inline-item" ><a href="https://www.linkedin.com/in/samuel-silva-6b4761101/" target="_blank"><i style="color:white;" class="fa fa-linkedin fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://github.com/samuel199732" target="_blank"><i style="color:white;" class="fa fa-github fa-2x"></i></a></li>
      </ul>
      <div class="container">
        <p class="m-0 text-center text-white">COPYRIGHT &copy; 2017. ALL RIGHTS RESERVED. GITHUB PROFILE 2017</p>
      </div>

    </footer>