/*/*component's CSS was imported from bootstrap class 4
view link : https://getbootstrap.com/docs/4.0/getting-started
author: Samuel Silva
github: github.com/samuel199732
*/
.container p{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}
.list-inline{
    margin: 10px;
    
}
.list-inline li{
    padding: 5px;

}
