<!-- author: Samuel Silva
github: github.com/samuel19973 
this is the main module. This is exactly where I am calling my html components-->
<nav-bar></nav-bar>
<content></content>
<app-footer></app-footer>