/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css';
@import "https://fonts.googleapis.com/css?family=Cabin";
@import "https://fonts.googleapis.com/css?family=Abril+Fatface|Cabin";
@import "https://fonts.googleapis.com/css?family=Monoton|Rammetto+One";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

/*component CSS was imported from bootstrap class 4. 
with some enhancements and addiction
view link : https://getbootstrap.com/docs/4.0/getting-started
author: Samuel Silva
github: github.com/samuel199732
*/

/* global style settings*/
*{
    font-family: 'Cabin', sans-serif;
}

body{
    background-color:  #E7E7E7;;
}