<!--author: Samuel Silva
github: github.com/samuel199732 -->
<header>
  <!-- fixed background image -->
    <div class="bg-img" style="background-image:url('http://yfkemener.com/wp-content/uploads/2016/10/Cover-Productions.jpg');">
       <!-- overlapping effect -->
      <div class="overlay">  </div>
    </div>
<div class="search-box" >
    <div class="col-xs-12 col-sm-12 col-md-12" id="divContent">
      <!--logo -->
    <img id="logo" src="https://images.sftcdn.net/images/t_optimized,f_auto/p/341c5968-96d8-11e6-bbd4-00163ec9f5fa/1961917216/github-for-windows-logo.png"  alt="picture description"  >
    <!-- inpu text -->
    <input (focus)="onHidden()" id="search" style="height:45px;" name="search" value="" type="text" class="form-control" [(ngModel)] = "search"/>
    <!-- input button -->
    <button [disabled]="!search || load" class="btn btn-secondary" style=" text-align: center; padding: 10px; margin:15px" (click)="callToAjax(search)" type="submit">Search</button>
    </div>
  </div>
</header>
<!-- here we use ng-if. ng-f compares if a condition is true. 
  To check the control of these attributes check: content.component.ts -->
  <div *ngIf='search && show' class="card card-body" style="border:none; margin:20vh;background-color: #e7e7e7; width:75%; margin-right:auto; margin-left:auto; display:block" >
    <div>
          <img class="img-thumbnail" (load)='finishLoad()' style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 25px; margin-top: 10px;" src="{{user.avatar_url}}" width="200" alt="">
          <!-- here we use ng-if. ng-f compares if a condition is true. 
              To check the control of these attributes check: content.component.ts.
            if loading image -->
          <div *ngIf='load'>
          <div style="text-align:center; width:75%; margin-left: auto; margin-right: auto;" class=""><div class="card-header"><span style="font-family: 'Abril Fatface', cursive;" class='user-label'>Name:</span></div><div class="card-block">{{user.name}}</div></div>
          <div style="text-align:center; width:75%; margin-left: auto; margin-right: auto;" class=""><div class="card-header"><span style="font-family: 'Abril Fatface', cursive;" class='user-label'>Login:</span></div><div class="card-block"> {{user.login}}</div></div>
          <div style="text-align:center; width:75%; margin-left: auto; margin-right: auto;" class=""><div class="card-header"><span style="font-family: 'Abril Fatface', cursive;" class='user-label'>Blog:</span></div><div class="card-block">{{user.blog}}</div></div>
          <div style="text-align:center; width:75%; margin-left: auto; margin-right: auto;" class=""><div class="card-header"><span style="font-family: 'Abril Fatface', cursive;" class='user-label'>Followers:</span></div><div class="card-block"> {{user.followers}}</div></div>
          <div style="text-align:center; width:75%; margin-left: auto; margin-right: auto;" class=""><div class="card-header"><span style="font-family: 'Abril Fatface', cursive;" class='user-label'>Following:</span></div><div class="card-block"> {{user.following}}</div></div>
          </div>
          <!--here we use ng-if. ng-f compares if a condition is true. 
              To check the control of these attributes check: content.component.ts
            if image has not yet uploaded  -->
          <div *ngIf="!load" class="loading"></div>
    </div>
  </div>
  
  